.draggable {
    cursor: move;
}

.svg-text {
    pointer-events: none;
    user-select: none;
    text-shadow: 0.05em 0.05em gray;
}

.noclick {
    pointer-events: none;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 150px;
}

.panel {
    padding: 5px;
    margin: 5px;
    flex-flow: column;
    display: flex;
}

input[type=color] {
    width: 30px;
}

input[type=text] {
    font-family: monospace;
}

.short-input {
    width: 120px;
}

.long-input {
    width: 150px;
    transition: background .5s;
}

button {
    margin: 10px;
}

.dropdown-btn {
    background-color: aquamarine;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.presets {
    position: relative;
    display: inline-block;
}

.presets:hover .dropdown-content {
    display: block;
}